// --------------------------------------------------------------------------------
//    variable
// --------------------------------------------------------------------------------

// hover
$defOpacity: .7;

// font-family
$font_sans: 'Roboto', sans-serif;
$font_serif: 'Roboto', serif;

// font-size
$font-size: 1.3rem;
$text-align: center;

// font-weight
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$fontBlack: 900;

// breakpoint
$breakpoint: 768px;
$breakpoint-sp: 320px;
$breakpoint-pc: 1024px;

// duration
$duration: 0.5s;
$duration-fast: 0.25s;
$duration-slow: 1s;

// color
$main-color: #4c4033;